
.content{
	text-align: center;
}

.cover{
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background: url(../images/universe.jpeg);
	display: flex;
	height: 100vh;
	justify-content: center;
}

.cover h2{
	color: lightgreen;
}